<meta charset="UTF-8">
<mat-card style="height: 1030px">

  <div>

    <mat-card-header class="header">


      <mat-icon style="color: gray;font-size:20px ;margin-top: 10px">usb</mat-icon>
      <p style="margin-top: 10px">
        لیست جریان کاری
      </p>
      <button mat-raised-button class="li" (click)="addData()">
        <mat-icon style="color: gray;font-weight: bold">add</mat-icon>
        جریان کاری جدید
      </button>

      <button mat-raised-button class="li" (click)="openDialogg()">
        <mat-icon style="color: gray;font-weight: bold">add</mat-icon>
        جریان کاری جدید
      </button>


    </mat-card-header>
    <hr>

    <mat-card-header>
      <form class="example-form" dir="rtl">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" placeholder=" جریان کاری را وارد کنید">
        </mat-form-field>

      </form>


      <mat-checkbox color="accent" class="example-margin" [(ngModel)]="checked" (change)="onCheckboxChange($event)">

      </mat-checkbox>
      <p class="p1">فعال</p>
    </mat-card-header>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource">


        <ng-container matColumnDef="name">

          <th mat-header-cell class="name-header" *matHeaderCellDef>
            <mat-icon>text_rotate_vertical</mat-icon>
            نام
          </th>
          <td mat-cell class="name-cell" *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="Type">
          <th mat-header-cell class="type-header" *matHeaderCellDef>نوع طرح</th>
          <td mat-cell class="type-cell" *matCellDef="let element">{{element.Type}}</td>
        </ng-container>
        <ng-container matColumnDef="service">
          <th mat-header-cell class="service-header" *matHeaderCellDef>خدمات مرتبط</th>
          <td mat-cell class="service-cell" *matCellDef="let element">{{element.service}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell class="status-header" *matHeaderCellDef>وضعیت</th>
          <td mat-cell class="status-cell" *matCellDef="let element;let i=index">
            <mat-icon *ngIf="dataSource.data[i].status" class="icon-done">
              done
            </mat-icon>
            <mat-icon *ngIf="!dataSource.data[i].status" class="icon-close">
              close
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="levels">
          <th mat-header-cell class="levels-header" *matHeaderCellDef>مراحل</th>
          <td mat-cell class="levels-cell" *matCellDef="let element">{{element.levels}}
            <button mat-raised-button color="warn">
              <mat-icon>
                format_list_numbered
              </mat-icon>
              مراحل
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell class="operation-header" *matHeaderCellDef>عملیات</th>

          <td mat-cell class="operation-cell" *matCellDef="let element;let i =index">{{element.operation}}
            <button mat-raised-button color="primary" (click)="UpdateData(i)">
              <mat-icon>
                edit
              </mat-icon>
              ویرایش
            </button>


            <button type="button" mat-raised-button color="accent" style="margin: 15px" (click)="openDialog(i)">


              <mat-icon>
                delete
              </mat-icon>
              حذف
            </button>

          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>

  </div>
<!--  <app-update (namnam)="setdata1($event)"></app-update>1-->

  <!--  <router-outlet></router-outlet>-->
   <!--  <app-update (iLoveNamnam)="setData($event)"></app-update>-->

</mat-card>
<!--  <router-outlet></router-outlet>-->
