<meta charset="UTF-8">
<mat-card style="height: 1030px">

  <div>

    <mat-card-header class="header">


      <mat-icon style="color: gray;font-size:20px ;margin-top: 10px">usb</mat-icon>
      <p style="margin-top: 10px">
        لیست جریان کاری
      </p>
      <button (click)="addData()" class="li" mat-raised-button>
        <mat-icon style="color: gray;font-weight: bold">add</mat-icon>
        جریان کاری جدید
      </button>

      <button (click)="openDialogg()" class="li" mat-raised-button>
        <mat-icon style="color: gray;font-weight: bold">add</mat-icon>
        جریان کاری جدید
      </button>


    </mat-card-header>
    <hr>

    <mat-card-header>
      <form class="example-form" dir="rtl">
        <mat-form-field>
          <input (keyup)="applyFilter($event)" matInput placeholder=" جریان کاری را وارد کنید">
        </mat-form-field>

      </form>


      <mat-checkbox (change)="onCheckboxChange($event)" [(ngModel)]="checked" class="example-margin" color="accent">

      </mat-checkbox>
      <p class="p1">فعال</p>
    </mat-card-header>

    <mat-card-content>
      <table [dataSource]="dataSource" mat-table>


        <ng-container matColumnDef="name">

          <th *matHeaderCellDef class="name-header" mat-header-cell>
            <mat-icon>text_rotate_vertical</mat-icon>
            نام
          </th>
          <td *matCellDef="let element" class="name-cell" mat-cell>{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="Type">
          <th *matHeaderCellDef class="type-header" mat-header-cell>نوع طرح</th>
          <td *matCellDef="let element" class="type-cell" mat-cell>{{element.Type}}</td>
        </ng-container>
        <ng-container matColumnDef="service">
          <th *matHeaderCellDef class="service-header" mat-header-cell>خدمات مرتبط</th>
          <td *matCellDef="let element" class="service-cell" mat-cell>{{element.service}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="status-header" mat-header-cell>وضعیت</th>
          <td *matCellDef="let element;let i=index" class="status-cell" mat-cell>
            <mat-icon *ngIf="dataSource.data[i].status" class="icon-done">
              done
            </mat-icon>
            <mat-icon *ngIf="!dataSource.data[i].status" class="icon-close">
              close
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="levels">
          <th *matHeaderCellDef class="levels-header" mat-header-cell>مراحل</th>
          <td *matCellDef="let element" class="levels-cell" mat-cell>{{element.levels}}
            <button color="warn" mat-raised-button>
              <mat-icon>
                format_list_numbered
              </mat-icon>
              مراحل
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th *matHeaderCellDef class="operation-header" mat-header-cell>عملیات</th>

          <td *matCellDef="let element;let i =index" class="operation-cell" mat-cell>{{element.operation}}
            <button (click)="UpdateData(i)" color="primary" mat-raised-button>
              <mat-icon>
                edit
              </mat-icon>
              ویرایش
            </button>

            <button (click)="openDialog(i)" color="accent" mat-raised-button style="margin: 15px" type="button">


              <mat-icon>
                delete
              </mat-icon>
              حذف
            </button>

          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>

        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </mat-card-content>
  </div>
</mat-card>
